/* COMMON */
*[onclick] {
	cursor:pointer;
}

body {
	text-align:left;
	overflow-y:scroll;
}

hr {
	background-color:#EEE;
	color:#EEE;
	border:none;
}

select {
	width:5em;
}

#head a:hover {
	text-decoration:underline;
}

div.tabBody div.loadingAnim {
	height:50%;
}

.90-deg {
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-3);
}

/* DOJO OVERRIDES */
.tundra #ideasPopup {
	overflow:auto;
}

.tundra #commonPopup {
	overflow:hidden;
}

.tundra #commonPopup #actionDetails {
	overflow:hidden;
}

.tundra ._underlay {
	background:rgba(30,30,30,0.9) none no-repeat right top;
}

.tundra .dojoxFloatingPaneCanvas {
	position:relative;
}

/* Page header */
div#head {
	height:3.5em;
	margin-bottom:0.3em;
	padding-top:0;
	padding-bottom:0;
	color:#FFF;
}

img#dashlnk {
	cursor:pointer;
}

img#dashlnk.selLnk, img#dashlnk:hover {
	border-bottom:1px solid #FFFFFF;
}

ul.tabMenu {
	text-decoration:none;
	list-style:none;
	text-indent:0;
	padding:0;
	margin:0;
}

ul.tabMenu li {
	float:left;
	position:relative;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	text-indent:0;
	margin-left:0;
	margin-right:0.25em;
	/* background-color:#444444;*/ 
	border-top:none;
	backgound-position:top left; 
	background-repeat:no-repeat
}

div#head div#leftAlignMenu {
	font-size:1.0em;
}	                      

div#head div#rightAlignMenu {
	right: 0.25em;
}

ul.tabMenu li a {
	color:#DDD;
}

ul.tabMenu li a:hover {
	color:#EEE;
}

ul.tabMenu li.menulnk {
	cursor:pointer;
}

ul.tabMenu li.selMenu {
	padding-bottom:0.6em;
}

ul.tabMenu li.selMenu a.selLnk {
	font-weight: bold;
	font-size: 1.1em;
	color:#FFFFFF;
	border:none;
}

ul.tabMenu li.selMenu a:hover {
	color:#FFFFFF;
}

/* CONTENT AND COMMON */
div#content { 
	width:100%;
	padding:0%;
	position:relative;
	font-size:0.95em;
	min-height:98%;
}

div.tabBody div div.fixed-left {
	font-size:0.95em;
}

.treeAddForm {
	background-color:#DDD;
	padding: 4px;
	border-left: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
}

#content > *{ 
	padding:0.5em;
}

.formHead {
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.formHead:hover {
	background-color:#F2F2F2;
}

.formBody subform {
	padding:4px;
}

.responses {
	padding:5px;
	padding-left:10px;
	max-height:3em;
	color:#000000;
	background-color:#EEEEEE;
	overflow:hidden;
	/* display:none; */
}

.respSurround {
	width:100%;
	height:45px;
	display:none;
	z-index:1001;
}

.respSurround .responses {
	height:40px;
	color:#FFFFFF;
	overflow:hidden;
	background:none;
	border:none;
	width:1000px; 
	margin:auto;
	padding-left:10px;
	display:block;
	background-color:#444444;
	background-color:rgba(30,30,30,0.9);
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.respSurround .responses * {
	color:#FFFFFF;
}

.tabBody {
	display:none;
}

.rightBox {
	position:relative;
	float:right;
}

.formHeadContain {
	position:relative;
	float:left;
}

.two-column {
	position:relative; float:left; width:48%; min-height:200px;
}

#dashTab p span {
	font-size:0.85em;
	padding-right:5px;
}

/* IDEAS */
.selectList .selection, .selection {
	width:100%;
	margin-right:0;
	margin-left:0;
	margin-top:0;
}

.idea table {
	width:100%;
}

.idea table tr td.image {
	width:64px;
}

.idea table tr td {
	text-align:left;
	vertical-align:top;
}

.idea {
	margin-bottom: 1.0em;
	margin-right: 1.0em;
	border: 1px solid #CCC;
	position:relative;
	float:left;
	background-color:#FFF;
	text-align:left;
	width: 14em;
	height:70px;
	overflow:hidden;
}

.idea a {
	margin:0;
}

.ideaoptions {
	font-size:0.8em;
	padding-left:5px;
	padding-right:5px;
	position:absolute;
	right:5px;
}

.ideatitle {
	font-size:1.2em;
}

.ideaGroupsList div p a.selected {
	border-right:5px solid #CCC;
	border-bottom:none;
	font-weight: bold;
	padding-left:2em;
	background-color:#AAA;
	color:#FFFFFF;
}

/* Other tabs styling */
#timelineTab table
{
	font-weight: normal;
	width: 100%;
	border:none;
	border-left: 5px solid #AAAAAA;
	border-collapse: collapse;
}

#timelineTab table td
{
	/*color: #000;*/
	padding: 4px;
	text-align: left;
	border: none;
	border-bottom: 1px solid #DDDDDD;
	font-size:0.9em;
}

table td input[type=text] {
	width:100%;
	min-width:6em;
}

#dashui {
	border:none;
	width:100%;
	min-height:25em;
}

#dashui .threeCol a {
	margin-left:0;
	margin-right:0;
}

#noteTab #newNoteForm {
	max-width:22em; 
}

#noteTab #notePadder div {
	padding:0.2em;
	margin-bottom:0.25em;
	width:80%;
	overflow:hidden;
}

#notepadder div {
	border-top:1px solid #DDD;
	background-repeat:no-repeat;
	background-position:left center;
}

#noteTab div.incoming {
	background-image:url('arrowLeft.png');
	background-position:right center;
}

#noteTab div.outgoing table {
	margin-left:3em;
}

#noteTab div.outgoing {
	background-image:url('arrowRight.png');
}

#noteTab div.incoming table {
	margin-right:3em;
}

.ideaGroups {
	background-color:#FFFFFF;
	position:relative;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

div.treeMenu {
	border-right:1px solid #AAA;
	background-color:#FFF;
}

#dashui .moreInfo p span {
	font-size:0.9em;
}

h2.pgName {
	margin:0;
}

h2.pgName span.subhead {
	font-size:0.6em;
	font-weight:normal;
}

.subhead {
	padding-top:0;
	margin-top:0;
}

.task {
	font-size:0.85em;
}

.noteData {
	font-size:0.8em;
}

ul.simProfiles {
	list-style:none;
}

div#head, div#content {
	width:975px; 
	margin:0 auto;
}

.compareList table, #ideaFeatureEvaluationList table, table.evaluation
{
	text-align: center;
	font-weight: normal;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	border:none;
}

.compareList table tr td, #ideaFeatureEvaluationList table tr td, table.evaluation tr td
{
	background-color: #FFF;
	padding: 4px;
	text-align: left;
	border: 1px solid #EEE;
}

.compareList table tr th, #ideaFeatureEvaluationList table tr th,  table.evaluation tr th
{
	padding: 4px;
	text-align: left;
	font-weight: bold;
	border:none;
	border-right:1px solid #EEE;
	font-size:0.9em;
}

 #ideaFeatureEvaluationList table tr td, #ideaFeatureEvaluationList table tr th, table.evaluation tr th, table.evaluation tr td{
	border-color:#DDD;
	background-color:#EEE; 
}

#ideaFeatureEvaluationList table.titleTT tr td{
	border:none;
	background-color:#FFF; 
}

.featureEvaluationBit * div.helper, #riskEvaluation * div.helper, table.evaluation * div.helper {
	width:2em;
	height:2em;
	overflow:visible;
	writing-mode: tb-rl; 
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
}	

#riskEvaluation tr th, .featureEvaluationBit tr th, table.evaluation tr th {
	overflow:hidden;
	height:7em; 
	width:2em;
	text-align:left;
	vertical-align:bottom;
}

#riskEvaluation tr td, .featureEvaluationBit tr td, table.evaluation tr td {
	font-size:0.9em;
	max-height:5em;
	width:2em;
}

#riskEvaluation tr:hover td, .featureEvaluationBit tr:hover td, table.evaluation tr:hover td {
	background-color:#DDDDDD;
}

#riskEvaluation select, .featureEvaluationBit select {
	width:3.5em;
}

#riskEvaluation tr td.headcol, .featureEvaluationBit tr td.headcol{
	width:15em;	
	border-left:none;	
}

table.evaluation tr td.headcol  {
	width:15em;	
}

#riskEvaluation tr th.headcol, .featureEvaluationBit tr th.headcol, table.evaluation tr td.headcol {
	font-weight:normal;
	font-size:1.0em;	
}

#riskEvaluation tr td.totalCol, .featureEvaluationBit tr td.totalCol {
	width:2em;
} 

span.timestamp {
	padding-left:0.5em;
	padding-right:0.5em;
	font-style:italic;
	font-size:0.85em;
}

span.title {
	font-weight:bold;
}

span.ideaoptions {
	font-size:0.85em;
	padding:0;
	margin:0;
}

.smallAddForm {
	border-top:1px solid #EEE;
	border-bottom:1px solid #EEE;
}

#groupDetails * ul{
	padding-left: 0em;
	list-style: none;
}

#groupDetails * ul li {
	margin-left: 0;
}

div.itemHolder span {
	font-size:0.9em;
	color:#777;
}

span.itemTotal{
	font-size:1.5em; font-weight:bold
}

span.itemName {
	font-size:1.2em;
}

div.shareBtns img {
	cursor:pointer;
}

div.groupPreview {
	min-height:4.5em;
	border:none;
	text-align:left;
	margin-bottom:10px;
	padding-top:0;
	border-bottom: 1px solid #DDDDDD;
}

div.private.selected, div.public.selected, div.groupsHolder.selected {
	background-color: #BDE4FF;
}

div.groupsHolder.selected div.groupsActualHolder {
	background-color: #BFE6FF;
}

ul.submenu {
	text-decoration:none;
	list-style:none;
	text-indent:0;
	padding:0;
	margin:0;
}

ul.submenu li {
	font-size: 1.1em;
	float:left;
	position:relative;
	margin-right:0.5em;
	text-indent:0px;
	margin-left:0px; 
	list-style: none;
	padding:2px;
	border-top:none;
}

ul.submenu li.selected {
	color: #FFFFFF;
	background-color:#444; 
}

ul.submenu li.selected a {
	color: #FFFFFF;
	border:none;
}

.ideator {
	font-size:0.75em;
}

.actions img {
	width:20px;
	height:20px;
	cursor:pointer;
	opacity : 0.75;
}

.actions img:hover {
	opacity : 1;
}

.helpbox .overlay {
	width:100%; height:100%; 
	position:absolute; 
	top:0; 
	left:0; 
	z-index:1; 
	text-shadow:0 0 5px #EEE;
	vertical-align:bottom;
}

.helpbox .overlay:hover {
	background-color:transparent;
	text-indent:-9999px;
	visibility:none;
}

#ideasPopupDetails table td, #ideasPopupDetails table th {
	vertical-align:top;
	text-align:left;
}

.dojoxDock {
	border:none;
	background-color: #444;
	background-color: rbga(30,30,30,0.8);
}

.commentForm input {
	font-size:20px;
}

.tundra .dijitTextBox {
	padding:0; margin:0;
}

.userChooser {
	color:#444; border: 1px dashed #AAA;
	background-image:url('pointer.png');
	background-position:center right;
	background-repeat:no-repeat;
	cursor:pointer;
}

.fixed-right ul.submenu {
	margin-bottom:40px;
}