/* COMMON */
body {
	text-align:left;
	#background-color:#E8F7FF;
}

.idea table {idea
	width:100%;
}

table, th {
	text-align:left;
}

/* Page header */
.tabMenu {
	text-decoration:none;
	list-style:none;
	text-indent:0px;
	margin-left:0px;
}

.tabMenu li {
	float:left;
	position:relative;
	padding-left:0.5em;
	padding-right:0.5em;
	text-indent:0px;
	margin-left:0px; 
}

.selMenu a.selLnk {
	text-decoration:underline;
	font-weight: bold;
	#color:#000000;
	#background-color:#FFFFFF;
	#-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	font-size:1.0em;
}

a {
	font-size:0.9em;
}

#head {
	width:100%;
	height:3.5em;
	#margin-top:0.3em;
	margin-bottom:0.3em;
	#background-color:#90CAD1;
}

#leftAlignMenu {
	top:0px;
	left:0px;
	position: absolute;
}

#rightAlignMenu {
	top:0px;
	right: 0px;
	position: absolute;
	text-align:right;
}

.addForm {
	#background-color:#90CAD1;
	padding:4px;
	border: 1px solid #90CAD1;
}

/* CONTENT */
#content { 
	width:100%;
	padding:0%;
	#position:relative;
	background-color:#FFFFFF;
}

#content > *{ 
	padding:1%;
}

.formHead {
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.formHead:hover {
	background-color:#F2F2F2;
}

.formBody subform {
	padding:4px;
}

.responses {
	border:1px solid #000000;
	display:none;
	padding:5px;
	#margin-bottom: 0.5em;
	margin-top:1.0em;
	max-height:3em;
}

.tabBody {
	display:none;
}

/* tab head */

.formHeadContain {
	position:relative;
	float:left;
}

.ideaGroups {
	background-color:#FFFFFF;
	position:relative;
	#float:right;
	#padding:3px;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.rightBox {
	position:relative;
	float:right;
}

span.ideaGroupsList {
	color:#666;
	font-size:0.9em;	
}

div#groupsList, div#groupDetails {
	padding-top:1.5em;
}

div#groupDetails {
	margin-left:1%;
}

.two-column {
	position:relative; float:left; width:48%;min-height:200px;
}

#reportDetails {
	padding:5px;
	border:1px solid #000000;
}

select {
	width:5em;
}

.ideaDetails td.label {
	#width:50em;
}

.ideaDetails input[type=text] {
	#width:50em;
}

.ideaoptions {
	#position:relative;
	#float:right;
	#display:none;
}

.ideatitle {
	font-size:1.2em;
}

.idea {
	margin-top: 10px;
	margin-bottom: 10px;
	#border-left: 5px solid #CCC;
}

.selMenu {
	background-color:#444444;
	color:#FFFFFF;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; 
}

.selMenu a {
	color:#FFFFFF;
	border-bottom:none;
}


.ideaGroups .ideaGroupsList a.selected {
	background-color:#444444;
	color:#FFFFFF;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; 
	border-bottom:none;
	font-weight: bold;
}

div.loadingSpinner {}

#compareList table
{
text-align: center;
font-weight: normal;
color: #fff;
width: 100%;
background-color: #666;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;
}

#compareList table td
{
background-color: #CCC;
color: #000;
padding: 4px;
text-align: left;
border: 1px #fff solid;
}

#compareList table th 
{
background-color: #AAA;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 12px;
font-weight: bold;
} 

table td input[type=text] {
	width:100%;
	min-width:6em;
}

.tundra .tabMenu .dijitDropDownButton, .tundra .tabMenu .dijitButtonNode  {
	padding:0;
	margin:0;
	border:none;
	background:none;
	font-size:0.95em;
}

.tundra .ideaGroupsList .dijitDropDownButton, .tundra .ideaGroupsList .dijitButtonNode  {
	padding:0;
	margin:0;
	border:none;
	background:none;
	font-size:1.0em;
}

#riskEvaluation{
	margin-top:0.5em;
}

.tundra #commonPopup {
	overflow:auto;
}

.tundra #ideasPopup {
	overflow:auto;
}

.tundra #actionDetails {
	overflow:hidden;
}

#dashui {
	#background:#ffffff url('bg.jpg') no-repeat center top;
	border:none;
	#background:#ffffff no-repeat center top;
	width:100%;
	min-height:25em; #ie-only fix
}

._underlay {
	display:none;
}


.threeColumnContainer > * {
	opacity:0.95;
}

ul.tabMenu .menulnk {
	cursor:pointer;
}

#noteTab table {
	max-height:30em;
}

.ideaoptions {
	position:relative;
	float:right;
}

#groupsList div { 
	margin-top: 1.0em;
	#margin-bottom: 0.5em;	
	border:1px solid #000000;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; 
	padding:1%;
}