html, body {
	font-size:1.3em;
	background:none;
	background: #FFFFFF url('bg.jpg') no-repeat right top;
}

a {
	padding:0;
}

#Responses {
	font-weight:bold;
	color:#43a2e5;
	text-align:left;
	font-size:15px;
}

#head, #loginContent {
	width:1000px;
	margin:0 auto;
}

#head {
	padding-top:0.5em;
	padding-bottom:0.0em;
	color:#FFFFFF;
}

#head th {	
	color:#FFFFFF;
}

#headSurround {
	background-color: #444444;
}

#loginContent {
	padding-top:0.1em;
	#background:#ffffff url('bg.jpg') no-repeat left top;
}

ul#submenu {
	text-decoration:none;
	list-style:none;
	text-indent:0;
	padding:0;
	margin:0;
}

ul#submenu li {
	float:left;
	position:relative;
	margin-right:0.5em;
	text-indent:0px;
	margin-left:0px; 
	list-style: none;
}

.footmenu li {
	float:none;
	list-style: none;
}

ul#submenu li.selected {
	color: #FFFFFF;
	background-color:#444; 
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

ul#submenu li.selected a {
	color: #FFFFFF;
	border:none;
}

#ajaxContent {
	padding:3px;
	width:75%;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	font-size:0.75em;
}

.footmenu li {
	font-size:0.5em
}

#rightAlignMenu { 
	margin-top:1%;
	font-size:0.0em;
}

table#regForm {
	font-size:1.0em;
}

span.subtext {
	font-size:0.75em
}

#rightAlignMenu input {
	border:1px solid #000000;
}

.widgetized {
	border:2px solid #DDD;
	background-color:#666;
	color: white;
	-moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; border-top-left-radius: 8px;
	-moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; 
}

.vAlign_Outer {
	display:table;
	overflow:hidden;
	height:100%;
	color:white;
	width:100%;
}
.vAlign_Middle {
	display:table-cell;
	vertical-align:middle;
}