html, body {
	font-size:1.3em;
	background:none;
	background: #FFFFFF url('bg.jpg') no-repeat left top;
}

#Responses {
	font-weight:bold;
	color:#43a2e5;
	text-shadow: #999 1px 1px 3px; /* Safari */
	filter: Shadow(Color=#999, Direction=135, Strength=3); /* Internet Explorer */
	text-align:center;
	width:100%;
	height:100%;
	font-size:0.9em;
}

#head, #loginContent {
	width:80%;
	margin:auto;
}

#loginContent {
	padding-top:0.1em;
	#background:#ffffff url('bg.jpg') no-repeat left top;
}

#head {
	padding-top:0.5em;
	padding-bottom:0.0em;
}

#headSurround {
	background-color: #cfffff;
}

#submenu li, .footmenu li {
	float:none;
	list-style: none;
}

#submenu li.selected {
	color: #FFFFFF;
	background-color:#444; 
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
}

#submenu li.selected a {
	color: #FFFFFF;
	border:none;
}

#ajaxContent {
	border:2px solid #444; 
	width:70%; padding:1%;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	background-image:url('content.png');
}

.footmenu li {
	font-size:0.5em
}

#rightAlignMenu { 
	margin-top:1%;
	font-size:0.0em;
}

table#regForm {
	font-size:1.0em;
}

span.subtext {
	font-size:0.75em
}

#rightAlignMenu input {
	border:1px solid #000000;
}