html, body {
	font-family:Calibri, Tahoma, Arial;
	margin:0px;
	padding:0px;
	color:#444;
	text-align:center;
	width:100%;
	height:100%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	padding-bottom:1px;
}
 
.clearfix, .xbuddyResponse {
	display: inline-block;
}
 
html .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

h1, h2, h3 {
	margin:0;
}

th, th, label {
	text-align:left;
	font-size:0.9em;
}

input {
	font-family:Calibri, Tahoma, Arial;
	font-size:0.8em;
}

a {
	color:#3B5998;
	text-decoration:none;
	font-weight:bold;
}

a:hover {
	border-bottom:1px solid #2200C1; 
}

a img {
	border:none;
}

.addthis_toolbox a, .addthis_toolbox a:hover  {
	border-bottom:none; 
}

div.loadingAnim {
	background-image: url('ajaxLoader.gif');
	background-repeat: no-repeat ;
	background-position: center center;
	width:100%;
	height:100%;
}

div.smallLoadingAnim {
	background-image: url('ajaxLoader.gif');
	background-repeat: no-repeat ;
	background-position: center center;
	width:100%;
	height:25px;
	float:left;
}

#leftAlignMenu {
	top:0px;
	left:0px;
	position: relative;
	float:left;
}

#rightAlignMenu {
	top:0px;
	right: 0px;
	position: relative;
	text-align:right;
	float:right;
}

#head {
	height:3.5em;
	margin-bottom:0.3em;
	padding-bottom:0.5em;
	color:#FFFFFF;
	padding-top:0.5em;
}

#headSurround {
	color:#444;
	background-color:#DDD; 
	border-bottom:#AAA; 
	background-color:rgba(50,50,50,0.3); 
}

.threecol, .sixCol {
	margin-right:1.25%; 
	width:32%; 
	position:relative; 
	float:left; 
}

.sixCol {
	width:15%;
	margin-bottom:0.5em;
}

.marker {
	border-style:solid;
	border-left-width:1px;
	border-top-width:1px;
	border-bottom-width:1px;
	background-color:#FFFFFF;
	width:0.9em;
	height:0.9em;
	position:relative;
	float:left;
}

.orangebox {
	border:1px solid #ffca6a;
}

.orangeItem {
	color:#ffca6a;
}

.orangebox a {
	border-color:#ffca6a;
}

.orangebox.selMenu {
	background-color:#ffad26;
}

.bluebox {
	border:1px solid #7db4ff;
}

.bluebox a {
	border-color:#7db4ff;
}

.bluebox.selMenu {
	background-color:#539dff;
}

.blueItem {
	color:#7db4ff;
}

.greenbox {
	border:1px solid #02BF0F;
}

.greenbox a {
	border-color:#02BF0F;
}

.greenbox.selMenu {
	background-color:#02BF0F;
}

.greenItem {
	color:#02BF0F;
}

.greybox {
	border:1px solid #DDD;
}

.greybox a {
	border-color:#DDD;
}

.red {
	background-color:red;
	border-color:red;
}

.redbox {
	border:1px solid #FF1F56;
}

.redbox a {
	border-color:#FF1F56;
}

.redbox.selMenu {
	background-color:#FF1F56;
}

.redItem {
	color:#FF1F56;
}

div.itemHolder {
	border-top:1px solid #EEE;
	padding-top:0.25em;
	padding-bottom:0.25em;
	position: relative;
}

div.clickable {
	cursor:pointer; 
}

div.clickable:hover, div.hoverable:hover {
	background-color: #EEE;
}

.tundra .dijitDialog .dijitDialogPaneContent {
	overflow:auto;
	max-height:90%;
	font-size:0.9em;
}

.responses span.serviceResponseSuccess {
	color:#b6f26b;
	font-weight:bold;
}

.responses span.serviceResponseFail {
	color:red;
	font-weight:bold;
}

div.lefter {
	position:relative;
	float:left;
	text-align:left;
}

div.righter {
	position:relative;
	float:right;
	text-align:right;
}

div.righterImage {
	padding:0.25em;
	padding-right:0;
}

div.lefterImage {
	padding:0.25em;
	padding-left:0.1em;
}

.fixed-left div.lefter {
	font-size:1.25em;
}

.fixed-left .lefter.lefterImage img {
	width:26px;
	height:26px;
	margin-top:-6px;
}

.loadMore {
	border:1px dotted #AAA;
	margin-bottom:0.5em;
	font-size:0.75em;
	text-transform:lowercase;
	text-align:center;
	clear:left;
}

div.headBorder {
	border-top:none;
}

h2.leftHeader {
	padding-bottom:0.6em;
}

.fixed-left {
	width: 226px; float:left; 
	margin-right:25px;
	text-align:left;
	color:#444;
}

.fixed-right {
	margin-left:251px; 
}

#footerSpace {
	width:100%;
	height:1em;
	clear:both;
}

#footerSurround {
	width:100%;
	border-top:1px solid #EEE;
}

#footer {	
	width:952px;
	margin:0 auto;
	font-size:12px;
	padding-top:0.25em;
	margin-bottom:30px;
	padding-left:0.5em;
	padding-right:0.5em;
}

#footer .fixed-left {
	text-align:left;
}

#footer .fixed-right {
	text-align:right;
}

.shareBtns a {
	border:none;
	background-color:transparent;
}

.shareBtns a img {
	border:none;
}

.topleftbg {
	background-position:top left;
	background-repeat:no-repeat;
}

ul#submenu li {
	border-top:none;
}

div.itemHolder div.lefter span {
	font-size:0.9em;
}

div.itemHolder.headBorder.treeMenu div.lefter {
	max-height: 4em;
}

.featureEvaluationBit td, .featureEvaluationBit th {
	border:1px solid #AAA;
}

.ideaDetailBit table td {
	vertical-align: top;
	border:1px solid #AAA;
}

.ideaRoles td, .ideaFeatures td {
	border:1px solid #AAA;
	text-align:left;
	vertical-align:top;
}

.featureEvaluationBit {
	width:100%;
}

.tiny {
	font-size:10px; color:#777;
}

.smallInfo {
	font-size:12px;
}

.smallInfo span {
	padding-right:10px;
}

p.help {
	font-size:0.95em;
	color:#999;
}

.summaryContainer {
	position:relative;
}

.summaryContainer h2 {
	margin-top:1.5em;
	border-bottom:1px solid #EEE;
}

.summaryActions {
	position:absolute; right:30px; top:2px;
}

/* Based of css3 buttons on github */
.addForm input[type=button], .addForm input[type=submit] {
	background: #7fbf4d;
  background: -moz-linear-gradient(top, #7fbf4d 0%, #63a62f 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
}

.addForm input[type=button]:hover, .addForm input[type=submit]:hover {
  background: #76b347;
  background: -moz-linear-gradient(top, #76b347 0%, #5e9e2e 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#76b347), to(#5e9e2e));
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

.addForm input[type=button]:active, .addForm input[type=submit]:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
}

/* CUPID */
.cupid-blue {
  background: #d7e5f5;
  background: -moz-linear-gradient(top, #d7e5f5 0%, #cbe0f5 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d7e5f5), to(#cbe0f5));
  border-top: 1px solid #abbbcc;
  border-left: 1px solid #a7b6c7;
  border-bottom: 1px solid #a1afbf;
  border-right: 1px solid #a7b6c7;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 0 #fff;
  box-shadow: inset 0 1px 0 0 #fff;
  color: #1a3e66;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  font-size:20px;
}

.cupid-blue:hover {
  background: #ccd9e8;
  background: -moz-linear-gradient(top, #ccd9e8 0%, #c1d4e8 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccd9e8), to(#c1d4e8));
  border-top: 1px solid #a1afbf;
  border-left: 1px solid #9caaba;
  border-bottom: 1px solid #96a3b3;
  border-right: 1px solid #9caaba;
  -moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
  -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
  box-shadow: inset 0 1px 0 0 #f2f2f2;
  color: #163659;
  cursor: pointer;
}

.cupid-blue:active {
  border: 1px solid #8c98a7;
  -moz-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eee;
  -webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eee;
  box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eee;
}

.addForm {
	font-size:2em;
	color:#AAA;
	text-transform:lowercase;
}

.addForm input, .addForm textarea {
	max-width:100%;
}

.dashResults .lefter:last-child, .searchResults .lefter:last-child {
	max-width:80%;
	max-height:2.4em;
	overflow:hidden;
}

.nohelp {
	color:#777;
}

.control {
	opacity:0.4;
	filter: alpha(opacity=40);
	width:16px;
	height:16px;
	vertical-align:middle;
}

#searchui .threecol {
	margin-top:0.5em;
}

.linkHolder img {
	vertical-align: middle;
}

.linkHolder a {
	color:#AAA;
	text-decoration:none;
}

.curved {
	-moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; border-top-left-radius: 8px;
	-moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; 
}

.curvedL {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.curvetr {
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
}

.curvetl {
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
}

.curvebl {
	-moz-border-radius-bottomleft: 24px; -webkit-border-bottom-left-radius: 24px; border-bottom-left-radius: 24px;
}

.summaryHead {
	background-color:#EEE;
	padding:5px;
	margin-left: -5px;
}

#loginContent {
	border-top:1px solid #EEE;
	background-color:#EEE;
	background:-moz-linear-gradient(center top , #F1F1F1, #FFFFFF) repeat scroll 0 0 transparent;
	background:-webkit-gradient( linear, left bottom, left top, color-stop(1, #F1F1F1),color-stop(0.1, #FFFFFF));
}

.circles {
	font-family: circles, arial;
	color:#EEE;
}

.botBorder {
	border-bottom: 1px solid #EEEEEE;
}

.topBorder {
	border-top: 1px solid #EEEEEE;
}

.tile {
	float:left;
	width:45%;
	overflow:hidden;
	background-color:white;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin-bottom:10px;
	height:100px;
	position:relative;
	cursor:pointer;
	padding:0;
	border:1px solid #AAA;
}

.tile:hover {
	border-color:#000;
}

.searchResults .tile:first-child {
	background-position: bottom right;
	background-repeat:no-repeat;
}

.searchResults .tile:first-child h1 {padding:0.5em; font-size:3em}

.tile:nth-child(odd) {
	margin-right:6%;
}

.tile img {
	width:100%;
}

.tile .lefter {
	background-color:rgba(0,0,0,0.5);
	padding:5px;
	color:white;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}

.dashResults .tile  .lefter:last-child, .searchResults .tile .lefter:last-child {
	max-width:100%;
}