html, body {
	font-family:Calibri, Tahoma, Arial;
	margin:0px;
	padding:0px;
	color:#444;
	text-align:center;
	width:100%;
	height:100%;
}

th, label {
	font-size:0.8em;
	text-align:left;
}

input {
	font-family:Calibri, Tahoma, Arial;
	font-size:0.8em;
}

a {
	border-bottom:1px dotted;
	border-color:#555;
	text-decoration:none;
	margin-left:5px;
	margin-right:5px;
	color:#666;
	font-size:0.8em;
}

a:hover {
	font-weight:bold; 
}

div.loadingAnim {
	background-image: url('ajaxLoader.gif');
	background-repeat: no-repeat ;
	background-position: center center;
	width:100%;
	height:100%;
}

#leftAlignMenu {
	top:0px;
	left:0px;
	position: relative;
	float:left;
}

#rightAlignMenu {
	top:0px;
	right: 0px;
	position: relative;
	text-align:right;
	float:right;
}

#head {
	width:100%;
	height:3.5em;
	margin-bottom:0.3em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	color:#FFFFFF;
	background-color: #444444;
}

.threeColumnContainer > * {
	#opacity:0.8;
}

.threecol {
	margin-right:1%; width:32%; position:relative; float:left; overflow:auto; 
}

.marker {
	border:1px solid #000000;
	background-color:#FFFFFF;
	width:0.9em;
	height:0.9em;
	position:relative;
	float:left;
	-moz-border-radius: 0.2em; -webkit-border-radius: 0.2em; border-radius: 0.2em;
}

.orange {
	background-color:#ffad26;
	border-color:#ffca6a;
}

.blue {
	background-color:#539dff;
	border-color:#7db4ff;
}

.green {
	background-color:#b6f26b;
	border-color:#bbef8e;
}

.grey {
	background-color:#dddddd;
	border-color:#eeeeee;
}

.red {
	background-color:red;
	border-color:red;
}