html, body {
	font-family:Calibri, Tahoma, Arial;
	margin:0px;
	padding:0px;
	color:#444;
	text-align:center;
	width:100%;
	height:100%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	padding-bottom:1px;
}
 
.clearfix, .xbuddyResponse {
	display: inline-block;
}
 
html .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

h1, h2, h3 {
	margin:0;
}

th, th, label {
	text-align:left;
	font-size:0.9em;
}

input {
	font-family:Calibri, Tahoma, Arial;
	font-size:0.8em;
}

a {
	color:#444;
	border-bottom:1px dotted #2200C1; 
	text-decoration:none;
}

a:hover {
	border-bottom:1px solid #2200C1; 
}

a img {
	border:none;
}

div.loadingAnim {
	background-image: url('ajaxLoader.gif');
	background-repeat: no-repeat ;
	background-position: center center;
	width:100%;
	height:100%;
}

div.smallLoadingAnim {
	background-image: url('ajaxLoader.gif');
	background-repeat: no-repeat ;
	background-position: center center;
	width:100%;
	height:25px;
	float:left;
}

#leftAlignMenu {
	top:0px;
	left:0px;
	position: relative;
	float:left;
}

#rightAlignMenu {
	top:0px;
	right: 0px;
	position: relative;
	text-align:right;
	float:right;
}

#head {
	height:3.5em;
	margin-bottom:0.3em;
	padding-bottom:0.5em;
	color:#FFFFFF;
	padding-top:0.5em;
}

#headSurround {
	background-color: #444444;
	background-image:url('gridDarkBg.jpg');
}

.threecol {
	margin-right:1%; 
	width:32%; 
	position:relative; 
	float:left; 
	background-color:#FFF;
}

.marker {
	border-style:solid;
	border-left-width:1px;
	border-top-width:1px;
	border-bottom-width:1px;
	background-color:#FFFFFF;
	width:0.9em;
	height:0.9em;
	position:relative;
	float:left;
}

.orangebox {
	border:1px solid #ffca6a;
}

.orangeItem {
	color:#ffca6a;
}

.orangebox a {
	border-color:#ffca6a;
}

.orangebox.selMenu {
	background-color:#ffad26;
}

.bluebox {
	border:1px solid #7db4ff;
}

.bluebox a {
	border-color:#7db4ff;
}

.bluebox.selMenu {
	background-color:#539dff;
}

.blueItem {
	color:#7db4ff;
}

.greenbox {
	border:1px solid #02BF0F;
}

.greenbox a {
	border-color:#02BF0F;
}

.greenbox.selMenu {
	background-color:#02BF0F;
}

.greenItem {
	color:#02BF0F;
}

.greybox {
	border:1px solid #DDD;
}

.greybox a {
	border-color:#DDD;
}

.red {
	background-color:red;
	border-color:red;
}

.redbox {
	border:1px solid #FF1F56;
}

.redbox a {
	border-color:#FF1F56;
}

.redItem {
	color:#FF1F56;
}

div.itemHolder {
	border-top:1px solid #EEE;
	padding-top:0.25em;
	padding-bottom:0.25em;
	position: relative;
}

div.itemHolder.selected {
	background-color:#DDD;
}

div.clickable {
	cursor:pointer; 
}

div.clickable:hover, div.hoverable:hover {
	background-color: #EEE;
}

.tundra .dijitDialog .dijitDialogPaneContent {
	overflow:auto;
	max-height:90%;
	font-size:0.9em;
}

.responses span.serviceResponseSuccess {
	color:#b6f26b;
	font-weight:bold;
}

.responses span.serviceResponseFail {
	color:red;font-weight:bold;
}

div.lefter {
	position:relative;
	float:left;
	text-align:left;
}

div.righter {
	position:relative;
	float:right;
	text-align:right;
}

div.righterImage {
	padding:0.25em;
	padding-right:0;
}

div.lefterImage {
	padding:0.25em;
	padding-left:0;
}

a.loadMore {
	border-top:1px dotted #AAA;
	margin-bottom:0.5em;
	font-size:0.75em;
	text-transform:lowercase;
}

a.loadMore:before {
	content:'>>';
}

div.headBorder {
	border-top:none;
}

h2.leftHeader {
	padding-bottom:0.6em;
}

.fixed-left {
	width: 226px; float:left; 
	margin-right:25px;
	text-align:left;
	color:#444;
}

.fixed-right {
	margin-left:251px; 
}

#footerSpace {
	width:100%;
	height:1em;
	clear:both;
}

#footerSurround {
	width:100%;
}

#footer {	
	width:1024px;
	margin:0 auto;
	font-size:0.65em;
	border-top:1px solid #AAA;
	padding-top:0.25em;
	padding-left:0.5em;
	padding-right:0.5em;
}

#footer .fixed-left {
	text-align:left;
}

#footer .fixed-right {
	text-align:right;
}

.shareBtns a {
	border:none;
	background-color:transparent;
}

.shareBtns a img {
	border:none;
}

.topleftbg {
	background-position:top left;
	background-repeat:no-repeat;
}

ul#submenu li {
	border-top:none;
}

div.itemHolder div.lefter span {
	font-size:0.9em;
}

div.itemHolder.headBorder.treeMenu div.lefter {
	max-height: 4em;
}

.featureEvaluationBit td, .featureEvaluationBit th {
	border:1px solid #AAA;
}

.ideaDetailBit table td {
	vertical-align: top;
	border:1px solid #AAA;
}

.ideaRoles td, .ideaFeatures td {
	border:1px solid #AAA;
	text-align:left;
	vertical-align:top;
}

.featureEvaluationBit {
	width:100%;
}

.tiny {
	font-size:10px; color:#AAA;
}